<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003432273339-h0sooo85j54o3mjr51frk6iufb4b9sn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003432273339-h0sooo85j54o3mjr51frk6iufb4b9sn9</string>
	<key>API_KEY</key>
	<string>AIzaSyBJXLFc626XcYE7SN6F_V16S_vx9CAzkMc</string>
	<key>GCM_SENDER_ID</key>
	<string>1003432273339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flycatchtech.iotSync</string>
	<key>PROJECT_ID</key>
	<string>iot-sync-d1653</string>
	<key>STORAGE_BUCKET</key>
	<string>iot-sync-d1653.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003432273339:ios:f4a285b707f9cc3b42109e</string>
</dict>
</plist>